header{
    width: 100vw;
    height: 65px;
    overflow: hidden;
    border-bottom: solid 2px#ccc;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;    
}
h1{
    text-align: center;
}
header img {
     width: 199px;
}
